body  {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

a {
    text-decoration: none;
}
.container {
width: 100%;
height: 900px; 
background-color: gray; 
background-image: url(http://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    position: relative;
}


.menu {
    width: 100%;
    height: 54px;
    top: 0;
    padding-left:276px;
    background-color:#212529;
    position: fixed;
    z-index: 1020;
    
}

.start {
    padding: 7px;
    display: inline-block;
    color: orange;
    font-size: 1.75em;
    font-family: 'Kaushan Script';
    transition-duration: 2s;}
    


    .start:hover {
        color: rgb(196, 100, 10);

    }



.menu-items {
    position: absolute;
    left: 50%;
    top: 0;
}
ul {
    margin: 0;
}
ul li {
    float: left; 
    padding: 17px 13px;
    list-style-type: none;}

 ul li a { 
     font-size: 16px;
     font-weight: 400;
     text-decoration: none;
    font-family: 'montserrat';
    color: cornsilk;
    letter-spacing: 1px;
    transition-property: color;
    transition-duration: .2s;
  } 


 ul li a:hover { 
    color: rgb(221, 221, 39);
  } 


.intro1 {
    top: 33%;
    margin: 0 25px;
    position: absolute;
    left: 35%;
    text-align: center;
    font-size: 40px;
    font-family: 'droid serif';
    font-style: italic;
    color: #ffffff;
}

.intro2 {
    left: 22%;
    font-size: 75px;
    top: 40%;
    font-family: 'Montserrat';
    position: absolute;
    font-weight: 700;
    color: #ffffff;
}
.btn1{
    position: absolute;
    display: inline-block;
    background-color: #fed136;
    width: 144px;
    height: 28px;
    top: 53%;
    left: 42%;
    border-radius: .25rem;


}

.btn-text { 
     font-family: 'montserrat';
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    text-align: center;
    color: #ffffff;
    
}
  /*second page*/

  .services{
    margin-top: 52px;
  }

  .service {
    width: 100%;
    height: 900px;
    position: relative;
}
.section-header{
    position: absolute;
    left: 44%;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 40px;
}
.minimum{
    position: absolute;
    left: 41%;
    transform: translateY(64px);
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: 'droid serif';
}
.box{
    left: 50%;
    top: 20%;
    position: absolute;
    margin: 50px 0;
    height: 400px;
    width: 350px;
}
.box1{
    left: 16%;
}
.fa-shopping-cart:before {
    content: "\f07a";
    position: absolute;
    color:#fff;
    font-size: 79px;
    right: 127px;
    top: 17%;
    transform: translateY(-50%);
}

.text1{
    position: absolute;
    left: 107px;
    top: 40%;
    font-size: 1.2rem;
    font-family: 'montserrat';
  
}

.text2{
    position: absolute;
    left: 2px;
    top: 53%;
    text-align: center;
    font-family: 'roboto slab';
    font-size: 1rem;
    font-weight: 400;
    color: #6c757d!important;
}
.fa-laptop:before {
    content: "\f109";
    position: absolute;
    color:#fff;
    font-size: 75px;
    right: 121px;
    top: 17%;
    transform: translateY(-50%);
}
.fa-lock:before {
    content: "\f023";
    position: absolute;
    color:#fff;
    font-size: 80px;
    right: 132px;
    top: 17%;
    transform: translateY(-50%);
}



   .circle {
       width: 140px;
       height: 140px;
       border-radius: 50%;
       background-color: #fed136;
       margin-left: 112px;
   } 

.box2 {
    left: 39%;
}
.box3{
    left: 62%;
}

/*portfolio*/

.portfolio {
    height: 100vh;
    width: 100%;
    position: relative;
    
}
.s2 {
    top: -29px;
}

.min2 { 
    top: 7%!important;
    z-index: 2;

}

.product {
    width: 350px;
    height: 262px;
    position: absolute;
    left: 14%;
    top: 129px;
    display: inline-block;

}

.product img{
    width: 100%;
    
}
.product .img{
    position: relative;
}

.product-info{
    padding: 20px;
}

.product-info>a{
    color: rgb(29, 28, 28);
    width: 50%;
    display: inline-block;
    padding-left: 120px;

    
}
.text-inside { 
    font-family: 'montserrat';
    font-size: 1.5rem;
    margin-top: 2px;
    


}
.text-inside-2 {
    margin-top: -19%;
    padding-left: 0px;
    font-family: 'droid serif';
    font-style: italic;
    color: #6c757d;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(211, 163, 58);
    opacity: 12%;
    transition: all .6s;
}

.product:hover .overlay{
    opacity: 60%;
}
.plus{
    position: absolute;
    top: 50%;
    display: none;
    left: 50%;
    color:orange;    
    font-size: 50px;
    transform: translate(-50%,-50%);
}

.product:hover .plus{
    display: block;

}
 
.product2 {
    left: 40%;
}

.product3 {
    left: 66%
}

.product4 {
    top: 56%;
}

.product5 {
    top: 56%;
    left: 40%;
}

.product6 {
    top: 56%;
    left: 66%;
}

/*team*/

.team-container{
    width: 100%;
    height: 750px;
    background-color: #f8f9fa!important;
    position: relative;
}

.team-text {
    position: absolute;
    font-size: 40px;
    left: 36%;
    top: 20px;
    font-family: 'montserrat';
    font-weight: 700;
    color: #292c30;
}
.team-text2{
font-size: 16px;
position: absolute;
left: 40%;
top: 80px;
}


.photobox{
width: 300px;
height: 450px;

position: absolute;
display: inline-block;
top:28%;
}
.s1 { 
left:16%;
}
.s2 {
left:40%;
}
.s3{
left:64%;
}

.img1{
width: 200px;
position: absolute;
left: 14%;
top: 7%;
border-radius: 50%;
border: 7px solid rgba(0,0,0,.1);
}

.teaminfo{
position: absolute;
bottom: 25%;
left: 30%;
}

.team-name {
    font-family: 'monserrat';
    font-size: 22px;
    font-weight: 700;
    margin-bottom: -3px;
    color: #212529;
}
.text-min{
    color: #6c757d!important;
    font-size: 1rem;
}
.social {
    position: absolute;
    bottom: 0;
    right: 13%;
    list-style-type: none;

}

.social li {
float: right;
padding-left: 10px;


}
.social li a {
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
}

.fab {
    padding-left: 15px;
}